ln -s /home/{{username}}/.dotfiles/.vimrc /home/{{username}}/.vimrc
ln -s /home/{{username}}/.dotfiles/.tmux.conf /home/{{username}}/.tmux.conf
ln -s /home/{{username}}/.dotfiles/config.fish /home/{{username}}/.config/fish/config.fish
