# Folder Hooks

folder-hook "account.com.gmail.main" "source ~/.mutt/account.com.gmail.main"

# Default Account

source ~/.mutt/account.com.gmail.main

# Colorsheme

source ~/.mutt/wombat.mutt

# Macros for swtiching accounts
## -- Add your macros here -- ##
## -- Only useful in a multiple account scenatio -- ##

set editor = "$EDITOR"

#-------- Basic Config {{
#------------------------------------------------------
set ssl_starttls = yes
set ssl_force_tls = yes
set imap_check_subscribed
# set hostname = gmail.com
set mail_check = 120
set timeout = 300
set imap_keepalive = 300
# set record = "+[GMail]/Sent Mail"
set move = no
set include
set sort = 'threads'
set sort_aux = 'reverse-last-date-received'
set auto_tag = yes
ignore "Authentication-Results:"
ignore "DomainKey-Signature:"
ignore "DKIM-Signature:"
hdr_order Date From To Cc
alternative_order text/plain text/html *
auto_view text/html
bind editor <Tab> complete-query
bind editor ^T complete
bind editor <space> noop
# }}

